.App {
	text-align: center;
}

*{
	box-sizing: border-box;
	margin: 0 0 8px 0;
	border: 0;
}

.cartao {
	text-align: left;
	border-radius: 10px;
	height: 70px;
}

.cartao:active {
	background-color: #00d95f;
}

.linha {
	display: inline-block;
}

.logo {
	width: 125px;
	margin-right: 20px;
	margin-top: 37px;
}

#header {
	height: 200px;
	width: 100%;
}

.logo-txt {
	vertical-align: top;
	margin-top: 37px;
}

.title {
	font-size: 50px;
	margin-top: 20px;
	
}

.autor {
	text-align: right;
	font-size: 14px;
	position: relative;
	top: -30px;
}

.dark {
	background-attachment: fixed;
}

.sptfy-green {
	color: #00d95f;
}

.font {
	font-family: var(--font-family,CircularSpTitle,CircularSpTitle-Tall,CircularSp-Arab,CircularSp-Hebr,CircularSp-Cyrl,CircularSp-Grek,CircularSp-Deva,var(--fallback-fonts,sans-serif));
}
.songName {
	color: white;
	width: 66vw;
	text-overflow: clip;
    white-space: nowrap;
    overflow: hidden;
	display: inline-block;  
}

.borda {
	border: 1px solid #373d48;
}

.geral {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}

body {
	height: 99vh;
}

/* SUCCESS ALERT */

.alert{
	position: fixed !important;
	top: -50vh;
 	left: 50%;
  	transform: translateX(-50%);
	display: block;
	box-sizing: border-box;
	z-index: 9999;
	/* height: 100vh;
	width: 100%; */
	overflow-x: hidden;
	overflow-y: auto;
	outline: 0;
	
  	width: 300px;
	animation: fadeIn 2.5s ease;
	/* width:50%;
	margin:20px auto;
	padding:30px;
	position:relative;
	border-radius:5px;
	box-shadow:0 0 15px 5px #ccc; */
}
@keyframes fadeIn {
	0%, 100%{
		transform: translateY(0) translateX(-50%);
		opacity: 0;
	}
	20%, 70%{
		transform: translateY(46vh) translateX(-50%);
		opacity: 1;
	}
}

.alert-container {
	position: relative;
	max-width: 500px;
	margin: 1.75rem auto;
	box-shadow: 2px 5px 10px 1px rgba(0,0,0,0.1);
}

.alert-content {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
	pointer-events: auto;
	background-color: inherit;
	border: 1px solid #008439;
	border-radius: 0.4rem;
	outline: 0;
}

.alert-header {
	display: flex;
	flex-shrink: 0;
	align-items: center;
	justify-content: space-between;
	padding: 1rem;
	background-color: inherit;
	font-size: 1.2rem;
	font-weight: 500;
}

.alert-success {
	background-color: #cff6e4;
	color: #008439;

}

