.App {
  text-align: center;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframe6s App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}





/* .card {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
} */

.cartao {
	text-align: left;
	border-radius: 10px;
	height: 70px;
}

.result {
	/*border: 10px solid blue;*/
}

.linha {
	display: inline-block;
}

.logo {
	width: 20%;
	margin-right: 5%;
}

.dark {
	background-color: #282c34;
}

h1 {
	color: #00d95f;
	font-family: var(--font-family,CircularSpTitle,CircularSpTitle-Tall,CircularSp-Arab,CircularSp-Hebr,CircularSp-Cyrl,CircularSp-Grek,CircularSp-Deva,var(--fallback-fonts,sans-serif));
}

p {
	color: white;
}

.borda {
	border: 1px solid #373d48;
}